.main {
    height: 50px;
    width: 101%;
    background-color: #667A98;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
    z-index: 20;

    &__btnBlock {
        display: flex;
        margin-left: 5px;
        gap: 10px;
        align-items: center;
        overflow: hidden;
    }

    & p {
        font-size: 14px;
        font-weight: 500;
    }
}

.arrowDownIcon {
    position: absolute;
    top: 32%;
    right: 2%;

    svg {
        transition: transform 0.2s;
        transform: rotate(0);
    }

    &.rotate {
        svg {
            transition: transform 0.2s;
            transform: rotate(180deg);
        }
    }

}

.selection {
    width: 100%;
    position: absolute;
    background-color: rgb(30, 30, 30);
    top: 100%;
    left: 0;
    overflow: hidden;
    border-radius: 7px;


    & li {
        padding: 10px;
        background-color: rgb(30, 30, 30);
        transition: all 0.3s;

        &:hover {
            transition: all 0.3s;
            background-color: rgba(242, 242, 255, 0.07);
        }
    }
}

.tagsBlock {
    display: flex;
    gap: 6px;

    &__name {
        padding-left: 20px;
    }
}

@media screen and (max-width: 500px) {
    .main {
        height: 34px;
        padding: 0;
        justify-content: center;

        &__btnBlock {
            margin-left: 10px;
        }

        & p {
            font-size: 12px;
        }
    }
}

////////////////////////////////////////


@media screen and (max-width: 750px) {
    .main {}

    .selection {}

    .tagsBlock {}
}