.main {
    border-radius: 5px;
    width: 100%;
    max-width: 726px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    & button {
        & p {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &.btnApplyFilter {
        background-color: #505A68;
    }

    &.btnSubmit {
        background-color: #667A98;
    }

    &.filterBtn {
        background-color: #375684;
    }

    &:disabled {
        // background-color: red;
        cursor: not-allowed;
        opacity: 0.4;   
    }
}