.main {
    padding: 5px 7px;
    background-color: #222428;
    border-radius: 8px;
    width: fit-content;
    overflow: hidden;
}

.liBlock {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}