.main {
    padding: 5px 7px;
    background-color: #222428;
    border-radius: 8px;
    width: fit-content;
    overflow: hidden;
    z-index: 100;
}

.liBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 10;
}

@media screen and (max-width: 850px) {
    .main {}

    .liBlock {
        p {
            font-size: 12px;
        }
    }
}