@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  // color: rgb(var(--foreground-rgb));
  // background: linear-gradient(to bottom,
  //     transparent,
  //     rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-color: #1A1A1A;
  margin:0;

  @media screen and (max-width:900px) {
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px  #33363D  inset !important;
}
}

button,
input,
a {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    // background: none;
    cursor: pointer;
  }
}

h2 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

p,
h1,
h2,
h3 {
  /* /* // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(244, 222, 209);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


p {
  color: #F2F2FF;
  font-size: 14px;
}

h3 {
  color: #F2F2FF;
  font-size: 16px;
  font-weight: 700;
}

h2 {
  color: #F2F2FF;
  font-size: 20px;
  font-weight: 600;
}

li {
  list-style: none;
}

* {
    box-sizing: border-box;
}
