.main {
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inputBlock {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
}